
body{

  padding:0px;
  background-color: 	#fffff4;
  margin:0px;
  padding:0px;
}
/*
.menubar ul li :hover.rmenu{
  visibility: visible;
      display:block;
  opacity: 1;
  position: absolute;
  background-color: green;

  margin-top: 15px;
 margin-left: -15px;
}

 .menubar ul li :hover.submenu{
   visibility: visible;
   display:block;
   opacity: 1;
   position: absolute;
   background-color:green;

   margin-top: 15px;
  margin-left: -15px;
 }

 .menubar ul li :hover.submenu ul{
   display:block;
visibility: visible;
 }
*/

.hero{
  background-image: url(img/gg.jpg);
background-size: cover;
width:inherit;
padding: 0;
margin-top: 0;
height:850px;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.menubar{
background-color:#0000004a;



/*  background: rgba(0, 0, 0, 0);*/

}

.menubar ul {
  display:inline-flex;
  list-style: none;
  color: white;
  background-color: transparent;
  justify-content: space-between;

display: flex;


}
.menubar ul li{
width: 100px;
height: 50px;
margin: 15px;

padding-top: 0%;
padding-bottom: 0%;
padding-left: 25px;

}

.menubar ul li a{
text-decoration: none;
color: white;


}

 .menubar ul li:hover{
  color: black;
  font-size: 20px;
  border-radius: 3px;

}

/*.submenu{
opacity: 0;
overflow: hidden;


}
.rmenu{opacity: 0;
  overflow: hidden;
}
*/

.db{
 background-color:transparent;
  top: 0%;
  left: 60%;
  margin-top: 0%;
  margin-left: 30%;
  height: 300px;
  width: 300px;
}

.dbtext{
  background-color:transparent;
   top: 0%;
   left: 60%;
   margin-top: 9%;
   margin-left: 30%;
   height: 300px;
   width: 300px;
   color: white;
   font-weight: 500;
   font-size: 30px;
   opacity: 0.7;
 }

 
.dbtext p{
  width:  350px;
  margin-left: 50px;
}
#kl{

  font-size: 30px;
font-weight: 1000;
color: lawngreen;

margin-top: 10px;
}

#hh{
  padding-left: 40px;
}